NET "AI_AD_CNV[0]" IOSTANDARD = LVCMOS33;
NET "AI_AD_CNV[0]" LOC = M4;
NET "AI_AD_CNV[0]" SLEW = FAST;
NET "AI_AD_CNV[1]" IOSTANDARD = LVCMOS33;
NET "AI_AD_CNV[1]" LOC = M1;
NET "AI_AD_CNV[1]" SLEW = FAST;
NET "AI_AD_MISO[0]" IOSTANDARD = LVCMOS33;
NET "AI_AD_MISO[0]" LOC = N4;
NET "AI_AD_MISO[1]" IOSTANDARD = LVCMOS33;
NET "AI_AD_MISO[1]" LOC = N1;
NET "AI_AD_SCK[0]" IOSTANDARD = LVCMOS33;
NET "AI_AD_SCK[0]" LOC = M5;
#NET "AI_AD_SCK[0]" SLEW = FAST;
NET "AI_AD_SCK[1]" IOSTANDARD = LVCMOS33;
NET "AI_AD_SCK[1]" LOC = M2;
#NET "AI_AD_SCK[1]" SLEW = FAST;
NET "AI_AFE_CS_B[0]" IOSTANDARD = LVCMOS33;
NET "AI_AFE_CS_B[0]" LOC = P3;
NET "AI_AFE_CS_B[1]" IOSTANDARD = LVCMOS33;
NET "AI_AFE_CS_B[1]" LOC = P1;
NET "AI_AFE_MOSI[0]" IOSTANDARD = LVCMOS33;
NET "AI_AFE_MOSI[0]" LOC = P5;
NET "AI_AFE_MOSI[1]" IOSTANDARD = LVCMOS33;
NET "AI_AFE_MOSI[1]" LOC = N3;
NET "AI_AFE_SCK[0]" IOSTANDARD = LVCMOS33;
NET "AI_AFE_SCK[0]" LOC = P4;
NET "AI_AFE_SCK[0]" SLEW = FAST;
NET "AI_AFE_SCK[1]" IOSTANDARD = LVCMOS33;
NET "AI_AFE_SCK[1]" LOC = P2;
NET "AI_AFE_SCK[1]" SLEW = FAST;
NET "AI_MUX0_A[0]" IOSTANDARD = LVCMOS33;
NET "AI_MUX0_A[0]" LOC = L3;
NET "AI_MUX0_A[1]" IOSTANDARD = LVCMOS33;
NET "AI_MUX0_A[1]" LOC = K6;
NET "AI_MUX0_A[2]" IOSTANDARD = LVCMOS33;
NET "AI_MUX0_A[2]" LOC = J6;
NET "AI_MUX1_A[0]" IOSTANDARD = LVCMOS33;
NET "AI_MUX1_A[0]" LOC = L1;
NET "AI_MUX1_A[1]" IOSTANDARD = LVCMOS33;
NET "AI_MUX1_A[1]" LOC = K1;
NET "AI_MUX1_A[2]" IOSTANDARD = LVCMOS33;
NET "AI_MUX1_A[2]" LOC = K2;
NET "BIO[0]" IOSTANDARD = LVCMOS33;
NET "BIO[0]" LOC = A20;
NET "BIO[10]" IOSTANDARD = LVCMOS33;
NET "BIO[10]" LOC = T16;
NET "BIO[10]" PULLUP;
NET "BIO[11]" IOSTANDARD = LVCMOS33;
NET "BIO[11]" LOC = T15;
NET "BIO[11]" PULLUP;
NET "BIO[12]" IOSTANDARD = LVCMOS33;
NET "BIO[12]" LOC = U17;
NET "BIO[13]" IOSTANDARD = LVCMOS33;
NET "BIO[13]" LOC = U16;
NET "BIO[14]" IOSTANDARD = LVCMOS33;
NET "BIO[14]" LOC = V19;
NET "BIO[15]" IOSTANDARD = LVCMOS33;
NET "BIO[15]" LOC = V18;
NET "BIO[1]" IOSTANDARD = LVCMOS33;
NET "BIO[1]" LOC = A21;
NET "BIO[2]" IOSTANDARD = LVCMOS33;
NET "BIO[2]" LOC = B20;
NET "BIO[3]" IOSTANDARD = LVCMOS33;
NET "BIO[3]" LOC = B21;
NET "BIO[4]" IOSTANDARD = LVCMOS33;
NET "BIO[4]" LOC = B22;
NET "BIO[4]" PULLUP;
NET "BIO[5]" IOSTANDARD = LVCMOS33;
NET "BIO[5]" LOC = C19;
NET "BIO[5]" PULLUP;
NET "BIO[6]" IOSTANDARD = LVCMOS33;
NET "BIO[6]" LOC = C20;
NET "BIO[6]" PULLUP;
NET "BIO[7]" IOSTANDARD = LVCMOS33;
NET "BIO[7]" LOC = C22;
NET "BIO[7]" PULLUP;
NET "BIO[8]" IOSTANDARD = LVCMOS33;
NET "BIO[8]" LOC = R16;
NET "BIO[8]" PULLUP;
NET "BIO[9]" IOSTANDARD = LVCMOS33;
NET "BIO[9]" LOC = R15;
NET "BIO[9]" PULLUP;
NET "COUNT[0]" IOSTANDARD = LVCMOS33;
NET "COUNT[0]" LOC = J1;
NET "COUNT[1]" IOSTANDARD = LVCMOS33;
NET "COUNT[1]" LOC = J3;
NET "COUNT[2]" IOSTANDARD = LVCMOS33;
NET "COUNT[2]" LOC = J4;
NET "COUNT[3]" IOSTANDARD = LVCMOS33;
NET "COUNT[3]" LOC = K3;
NET "COUNT[4]" IOSTANDARD = LVCMOS33;
NET "COUNT[4]" LOC = K4;
NET "COUNT[5]" IOSTANDARD = LVCMOS33;
NET "COUNT[5]" LOC = K5;
NET "COUNT[6]" IOSTANDARD = LVCMOS33;
NET "COUNT[6]" LOC = L4;
NET "COUNT[7]" IOSTANDARD = LVCMOS33;
NET "COUNT[7]" LOC = M3;
NET "COUNT_LE[0]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[0]" LOC = H3;
NET "COUNT_LE[1]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[1]" LOC = H4;
NET "COUNT_LE[2]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[2]" LOC = H5;
NET "COUNT_LE[3]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[3]" LOC = H6;
NET "COUNT_LE[4]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[4]" LOC = H8;
NET "COUNT_LE[5]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[5]" LOC = J7;
NET "COUNT_LE[6]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[6]" LOC = K8;
NET "COUNT_LE[7]" IOSTANDARD = LVCMOS33;
NET "COUNT_LE[7]" LOC = K7;
NET "COUNT_SDN" IOSTANDARD = LVCMOS33;
NET "COUNT_SDN" LOC = V5;
NET "DA_CLR_B" IOSTANDARD = LVCMOS33;
NET "DA_CLR_B" LOC = F2;
NET "DA_CS_B[0]" IOSTANDARD = LVCMOS33;
NET "DA_CS_B[0]" LOC = G1;
NET "DA_CS_B[1]" IOSTANDARD = LVCMOS33;
NET "DA_CS_B[1]" LOC = G3;
NET "DA_LDAC_B" IOSTANDARD = LVCMOS33;
NET "DA_LDAC_B" LOC = H2;
NET "DA_LDAC_B" SLEW = FAST;
NET "DA_SCK" IOSTANDARD = LVCMOS33;
NET "DA_SCK" LOC = F1;
NET "DA_SCK" SLEW = FAST;
NET "DA_SDI" IOSTANDARD = LVCMOS33;
NET "DA_SDI" LOC = H1;
NET "DIO[0]" IOSTANDARD = LVCMOS33;
NET "DIO[0]" LOC = D5;
NET "DIO[100]" IOSTANDARD = LVCMOS33;
NET "DIO[100]" LOC = M18;
NET "DIO[101]" IOSTANDARD = LVCMOS33;
NET "DIO[101]" LOC = M17;
NET "DIO[102]" IOSTANDARD = LVCMOS33;
NET "DIO[102]" LOC = M16;
NET "DIO[103]" IOSTANDARD = LVCMOS33;
NET "DIO[103]" LOC = N22;
NET "DIO[104]" IOSTANDARD = LVCMOS33;
NET "DIO[104]" LOC = N20;
NET "DIO[105]" IOSTANDARD = LVCMOS33;
NET "DIO[105]" LOC = N19;
NET "DIO[106]" IOSTANDARD = LVCMOS33;
NET "DIO[106]" LOC = N16;
NET "DIO[107]" IOSTANDARD = LVCMOS33;
NET "DIO[107]" LOC = P22;
NET "DIO[108]" IOSTANDARD = LVCMOS33;
NET "DIO[108]" LOC = P21;
NET "DIO[109]" IOSTANDARD = LVCMOS33;
NET "DIO[109]" LOC = P20;
NET "DIO[10]" IOSTANDARD = LVCMOS33;
NET "DIO[10]" LOC = A5;
NET "DIO[110]" IOSTANDARD = LVCMOS33;
NET "DIO[110]" LOC = P19;
NET "DIO[111]" IOSTANDARD = LVCMOS33;
NET "DIO[111]" LOC = P18;
NET "DIO[112]" IOSTANDARD = LVCMOS33;
NET "DIO[112]" LOC = P17;
NET "DIO[113]" IOSTANDARD = LVCMOS33;
NET "DIO[113]" LOC = R22;
NET "DIO[114]" IOSTANDARD = LVCMOS33;
NET "DIO[114]" LOC = R20;
NET "DIO[115]" IOSTANDARD = LVCMOS33;
NET "DIO[115]" LOC = R19;
NET "DIO[116]" IOSTANDARD = LVCMOS33;
NET "DIO[116]" LOC = T22;
NET "DIO[117]" IOSTANDARD = LVCMOS33;
NET "DIO[117]" LOC = T21;
NET "DIO[118]" IOSTANDARD = LVCMOS33;
NET "DIO[118]" LOC = T20;
NET "DIO[119]" IOSTANDARD = LVCMOS33;
NET "DIO[119]" LOC = U19;
NET "DIO[11]" IOSTANDARD = LVCMOS33;
NET "DIO[11]" LOC = C5;
NET "DIO[12]" IOSTANDARD = LVCMOS33;
NET "DIO[12]" LOC = A6;
NET "DIO[13]" IOSTANDARD = LVCMOS33;
NET "DIO[13]" LOC = B6;
NET "DIO[14]" IOSTANDARD = LVCMOS33;
NET "DIO[14]" LOC = C6;
NET "DIO[15]" IOSTANDARD = LVCMOS33;
NET "DIO[15]" LOC = D6;
NET "DIO[16]" IOSTANDARD = LVCMOS33;
NET "DIO[16]" LOC = A7;
NET "DIO[17]" IOSTANDARD = LVCMOS33;
NET "DIO[17]" LOC = C7;
NET "DIO[18]" IOSTANDARD = LVCMOS33;
NET "DIO[18]" LOC = D7;
NET "DIO[19]" IOSTANDARD = LVCMOS33;
NET "DIO[19]" LOC = A8;
NET "DIO[1]" IOSTANDARD = LVCMOS33;
NET "DIO[1]" LOC = C1;
NET "DIO[20]" IOSTANDARD = LVCMOS33;
NET "DIO[20]" LOC = B8;
NET "DIO[21]" IOSTANDARD = LVCMOS33;
NET "DIO[21]" LOC = C8;
NET "DIO[22]" IOSTANDARD = LVCMOS33;
NET "DIO[22]" LOC = D8;
NET "DIO[23]" IOSTANDARD = LVCMOS33;
NET "DIO[23]" LOC = A9;
NET "DIO[24]" IOSTANDARD = LVCMOS33;
NET "DIO[24]" LOC = C9;
NET "DIO[25]" IOSTANDARD = LVCMOS33;
NET "DIO[25]" LOC = D9;
NET "DIO[26]" IOSTANDARD = LVCMOS33;
NET "DIO[26]" LOC = A10;
NET "DIO[27]" IOSTANDARD = LVCMOS33;
NET "DIO[27]" LOC = B10;
NET "DIO[28]" IOSTANDARD = LVCMOS33;
NET "DIO[28]" LOC = C10;
NET "DIO[29]" IOSTANDARD = LVCMOS33;
NET "DIO[29]" LOC = D10;
NET "DIO[2]" IOSTANDARD = LVCMOS33;
NET "DIO[2]" LOC = C3;
NET "DIO[30]" IOSTANDARD = LVCMOS33;
NET "DIO[30]" LOC = A11;
NET "DIO[31]" IOSTANDARD = LVCMOS33;
NET "DIO[31]" LOC = C11;
NET "DIO[32]" IOSTANDARD = LVCMOS33;
NET "DIO[32]" LOC = D11;
NET "DIO[33]" IOSTANDARD = LVCMOS33;
NET "DIO[33]" LOC = A12;
NET "DIO[34]" IOSTANDARD = LVCMOS33;
NET "DIO[34]" LOC = B12;
NET "DIO[35]" IOSTANDARD = LVCMOS33;
NET "DIO[35]" LOC = C12;
NET "DIO[36]" IOSTANDARD = LVCMOS33;
NET "DIO[36]" LOC = A13;
NET "DIO[37]" IOSTANDARD = LVCMOS33;
NET "DIO[37]" LOC = C13;
NET "DIO[38]" IOSTANDARD = LVCMOS33;
NET "DIO[38]" LOC = A14;
NET "DIO[39]" IOSTANDARD = LVCMOS33;
NET "DIO[39]" LOC = B14;
NET "DIO[3]" IOSTANDARD = LVCMOS33;
NET "DIO[3]" LOC = C4;
NET "DIO[40]" IOSTANDARD = LVCMOS33;
NET "DIO[40]" LOC = C14;
NET "DIO[41]" IOSTANDARD = LVCMOS33;
NET "DIO[41]" LOC = D14;
NET "DIO[42]" IOSTANDARD = LVCMOS33;
NET "DIO[42]" LOC = A15;
NET "DIO[43]" IOSTANDARD = LVCMOS33;
NET "DIO[43]" LOC = C15;
NET "DIO[44]" IOSTANDARD = LVCMOS33;
NET "DIO[44]" LOC = D15;
NET "DIO[45]" IOSTANDARD = LVCMOS33;
NET "DIO[45]" LOC = A16;
NET "DIO[46]" IOSTANDARD = LVCMOS33;
NET "DIO[46]" LOC = B16;
NET "DIO[47]" IOSTANDARD = LVCMOS33;
NET "DIO[47]" LOC = C16;
NET "DIO[48]" IOSTANDARD = LVCMOS33;
NET "DIO[48]" LOC = E16;
NET "DIO[49]" IOSTANDARD = LVCMOS33;
NET "DIO[49]" LOC = A17;
NET "DIO[4]" IOSTANDARD = LVCMOS33;
NET "DIO[4]" LOC = B1;
NET "DIO[50]" IOSTANDARD = LVCMOS33;
NET "DIO[50]" LOC = C17;
NET "DIO[51]" IOSTANDARD = LVCMOS33;
NET "DIO[51]" LOC = D17;
NET "DIO[52]" IOSTANDARD = LVCMOS33;
NET "DIO[52]" LOC = A18;
NET "DIO[53]" IOSTANDARD = LVCMOS33;
NET "DIO[53]" LOC = B18;
NET "DIO[54]" IOSTANDARD = LVCMOS33;
NET "DIO[54]" LOC = D19;
NET "DIO[55]" IOSTANDARD = LVCMOS33;
NET "DIO[55]" LOC = D20;
NET "DIO[56]" IOSTANDARD = LVCMOS33;
NET "DIO[56]" LOC = D21;
NET "DIO[57]" IOSTANDARD = LVCMOS33;
NET "DIO[57]" LOC = D22;
NET "DIO[58]" IOSTANDARD = LVCMOS33;
NET "DIO[58]" LOC = E22;
NET "DIO[59]" IOSTANDARD = LVCMOS33;
NET "DIO[59]" LOC = E20;
NET "DIO[5]" IOSTANDARD = LVCMOS33;
NET "DIO[5]" LOC = B2;
NET "DIO[60]" IOSTANDARD = LVCMOS33;
NET "DIO[60]" LOC = F22;
NET "DIO[61]" IOSTANDARD = LVCMOS33;
NET "DIO[61]" LOC = F21;
NET "DIO[62]" IOSTANDARD = LVCMOS33;
NET "DIO[62]" LOC = F20;
NET "DIO[63]" IOSTANDARD = LVCMOS33;
NET "DIO[63]" LOC = F19;
NET "DIO[64]" IOSTANDARD = LVCMOS33;
NET "DIO[64]" LOC = F18;
NET "DIO[65]" IOSTANDARD = LVCMOS33;
NET "DIO[65]" LOC = F17;
NET "DIO[66]" IOSTANDARD = LVCMOS33;
NET "DIO[66]" LOC = F16;
NET "DIO[67]" IOSTANDARD = LVCMOS33;
NET "DIO[67]" LOC = G22;
NET "DIO[68]" IOSTANDARD = LVCMOS33;
NET "DIO[68]" LOC = G20;
NET "DIO[69]" IOSTANDARD = LVCMOS33;
NET "DIO[69]" LOC = G19;
NET "DIO[6]" IOSTANDARD = LVCMOS33;
NET "DIO[6]" LOC = B3;
NET "DIO[70]" IOSTANDARD = LVCMOS33;
NET "DIO[70]" LOC = G17;
NET "DIO[71]" IOSTANDARD = LVCMOS33;
NET "DIO[71]" LOC = G16;
NET "DIO[72]" IOSTANDARD = LVCMOS33;
NET "DIO[72]" LOC = H22;
NET "DIO[73]" IOSTANDARD = LVCMOS33;
NET "DIO[73]" LOC = H21;
NET "DIO[74]" IOSTANDARD = LVCMOS33;
NET "DIO[74]" LOC = H20;
NET "DIO[75]" IOSTANDARD = LVCMOS33;
NET "DIO[75]" LOC = H19;
NET "DIO[76]" IOSTANDARD = LVCMOS33;
NET "DIO[76]" LOC = H18;
NET "DIO[77]" IOSTANDARD = LVCMOS33;
NET "DIO[77]" LOC = H17;
NET "DIO[78]" IOSTANDARD = LVCMOS33;
NET "DIO[78]" LOC = H16;
NET "DIO[79]" IOSTANDARD = LVCMOS33;
NET "DIO[79]" LOC = J22;
NET "DIO[7]" IOSTANDARD = LVCMOS33;
NET "DIO[7]" LOC = A2;
NET "DIO[80]" IOSTANDARD = LVCMOS33;
NET "DIO[80]" LOC = J20;
NET "DIO[81]" IOSTANDARD = LVCMOS33;
NET "DIO[81]" LOC = J19;
NET "DIO[82]" IOSTANDARD = LVCMOS33;
NET "DIO[82]" LOC = J17;
NET "DIO[83]" IOSTANDARD = LVCMOS33;
NET "DIO[83]" LOC = J16;
NET "DIO[84]" IOSTANDARD = LVCMOS33;
NET "DIO[84]" LOC = K22;
NET "DIO[85]" IOSTANDARD = LVCMOS33;
NET "DIO[85]" LOC = K21;
NET "DIO[86]" IOSTANDARD = LVCMOS33;
NET "DIO[86]" LOC = K20;
NET "DIO[87]" IOSTANDARD = LVCMOS33;
NET "DIO[87]" LOC = K19;
NET "DIO[88]" IOSTANDARD = LVCMOS33;
NET "DIO[88]" LOC = K18;
NET "DIO[89]" IOSTANDARD = LVCMOS33;
NET "DIO[89]" LOC = K17;
NET "DIO[8]" IOSTANDARD = LVCMOS33;
NET "DIO[8]" LOC = A3;
NET "DIO[90]" IOSTANDARD = LVCMOS33;
NET "DIO[90]" LOC = K16;
NET "DIO[91]" IOSTANDARD = LVCMOS33;
NET "DIO[91]" LOC = L22;
NET "DIO[92]" IOSTANDARD = LVCMOS33;
NET "DIO[92]" LOC = L20;
NET "DIO[93]" IOSTANDARD = LVCMOS33;
NET "DIO[93]" LOC = L19;
NET "DIO[94]" IOSTANDARD = LVCMOS33;
NET "DIO[94]" LOC = L17;
NET "DIO[95]" IOSTANDARD = LVCMOS33;
NET "DIO[95]" LOC = L15;
NET "DIO[96]" IOSTANDARD = LVCMOS33;
NET "DIO[96]" LOC = M22;
NET "DIO[97]" IOSTANDARD = LVCMOS33;
NET "DIO[97]" LOC = M21;
NET "DIO[98]" IOSTANDARD = LVCMOS33;
NET "DIO[98]" LOC = M20;
NET "DIO[99]" IOSTANDARD = LVCMOS33;
NET "DIO[99]" LOC = M19;
NET "DIO[9]" IOSTANDARD = LVCMOS33;
NET "DIO[9]" LOC = A4;
NET "DIO_DIR[0]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[0]" LOC = D1;
NET "DIO_DIR[10]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[10]" LOC = V20;
NET "DIO_DIR[11]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[11]" LOC = V21;
NET "DIO_DIR[12]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[12]" LOC = V22;
NET "DIO_DIR[13]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[13]" LOC = W20;
NET "DIO_DIR[14]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[14]" LOC = W22;
NET "DIO_DIR[1]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[1]" LOC = D2;
NET "DIO_DIR[2]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[2]" LOC = D3;
NET "DIO_DIR[3]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[3]" LOC = E1;
NET "DIO_DIR[4]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[4]" LOC = E3;
NET "DIO_DIR[5]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[5]" LOC = E4;
NET "DIO_DIR[6]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[6]" LOC = E5;
NET "DIO_DIR[7]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[7]" LOC = E6;
NET "DIO_DIR[8]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[8]" LOC = U20;
NET "DIO_DIR[9]" IOSTANDARD = LVCMOS33;
NET "DIO_DIR[9]" LOC = U22;
NET "DIO_OE" IOSTANDARD = LVCMOS33;
NET "DIO_OE" LOC = G7;
NET "DIO_OE_B" IOSTANDARD = LVCMOS33;
NET "DIO_OE_B" LOC = F7;
NET "FPGA_CMDENBL" IOSTANDARD = LVCMOS33;
NET "FPGA_CMDENBL" LOC = G4;
NET "FPGA_CMDENBL_B" IOSTANDARD = LVCMOS33;
NET "FPGA_CMDENBL_B" LOC = F3;
NET "FPGA_CMDSTRB" IOSTANDARD = LVCMOS33;
NET "FPGA_CMDSTRB" LOC = G6;
NET "FPGA_CMDSTRB_B" IOSTANDARD = LVCMOS33;
NET "FPGA_CMDSTRB_B" LOC = F5;
NET "FPGA_CMD_DIR" IOSTANDARD = LVCMOS33;
NET "FPGA_CMD_DIR" LOC = U6;
NET "FPGA_CPU_RESET" IOSTANDARD = LVCMOS33;
NET "FPGA_CPU_RESET" LOC = Y19;
Net "FPGA_CPU_RESET" TIG;
NET "FPGA_CSO_B" IOSTANDARD = LVCMOS33;
NET "FPGA_CSO_B" LOC = T5;
NET "FPGA_D0_DIN_MISO_MISO1" IOSTANDARD = LVCMOS33;
NET "FPGA_D0_DIN_MISO_MISO1" LOC = AA20;
NET "FPGA_D1_MISO2" IOSTANDARD = LVCMOS33;
NET "FPGA_D1_MISO2" LOC = U14;
NET "FPGA_D2_MISO3" IOSTANDARD = LVCMOS33;
NET "FPGA_D2_MISO3" LOC = U13;
NET "FPGA_MOSI_CSI_B_MISO0" IOSTANDARD = LVCMOS33;
NET "FPGA_MOSI_CSI_B_MISO0" LOC = AB20;
NET "FPGA_MSD_CS_B" IOSTANDARD = LVCMOS33;
NET "FPGA_MSD_CS_B" LOC = AB21;
NET "FPGA_SYSCLK" IOSTANDARD = LVCMOS33;
NET "FPGA_SYSCLK" LOC = AA12;
Net "FPGA_SYSCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
NET "FPGA_UFM_CS_B" IOSTANDARD = LVCMOS33;
NET "FPGA_UFM_CS_B" LOC = T14;
NET "FPGA_XCLK" IOSTANDARD = LVCMOS33;
NET "FPGA_XCLK" LOC = Y11;
NET "FPGA_XTRIG" IOSTANDARD = LVCMOS33;
NET "FPGA_XTRIG" LOC = Y13;
NET "FTDI_D[0]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[0]" LOC = AA10;
NET "FTDI_D[1]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[1]" LOC = AB10;
NET "FTDI_D[2]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[2]" LOC = Y9;
NET "FTDI_D[3]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[3]" LOC = AB9;
NET "FTDI_D[4]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[4]" LOC = AA8;
NET "FTDI_D[5]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[5]" LOC = AB8;
NET "FTDI_D[6]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[6]" LOC = Y7;
NET "FTDI_D[7]" IOSTANDARD = LVCMOS33;
NET "FTDI_D[7]" LOC = AB7;
NET "FTDI_PWREN_B" IOSTANDARD = LVCMOS33;
NET "FTDI_PWREN_B" LOC = AB3;
NET "FTDI_RD" IOSTANDARD = LVCMOS33;
NET "FTDI_RD" LOC = AA4;
NET "FTDI_RXF" IOSTANDARD = LVCMOS33;
NET "FTDI_RXF" LOC = AA6;
NET "FTDI_SI" IOSTANDARD = LVCMOS33;
NET "FTDI_SI" LOC = Y4;
NET "FTDI_SIWU" IOSTANDARD = LVCMOS33;
NET "FTDI_SIWU" LOC = M8;
NET "FTDI_SPR_AC1" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AC1" LOC = P6;
NET "FTDI_SPR_AC6" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AC6" LOC = P7;
NET "FTDI_SPR_AC7" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AC7" LOC = P8;
NET "FTDI_SPR_AD3" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AD3" LOC = AB2;
NET "FTDI_SPR_AD5" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AD5" LOC = AA2;
NET "FTDI_SPR_AD6" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AD6" LOC = Y3;
NET "FTDI_SPR_AD7" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_AD7" LOC = W4;
NET "FTDI_SPR_BC5" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_BC5" LOC = M6;
NET "FTDI_SPR_BC6" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_BC6" LOC = N6;
NET "FTDI_SPR_BC7" IOSTANDARD = LVCMOS33;
NET "FTDI_SPR_BC7" LOC = N7;
NET "FTDI_SUSPEND_B" IOSTANDARD = LVCMOS33;
NET "FTDI_SUSPEND_B" LOC = M7;
NET "FTDI_TXE" IOSTANDARD = LVCMOS33;
NET "FTDI_TXE" LOC = AB6;
NET "FTDI_UPLOAD" IOSTANDARD = LVCMOS33;
NET "FTDI_UPLOAD" LOC = L6;
NET "FTDI_WR" IOSTANDARD = LVCMOS33;
NET "FTDI_WR" LOC = AB4;
NET "GPIO_ERROR_LED" IOSTANDARD = LVCMOS33;
NET "GPIO_ERROR_LED" LOC = T19;
NET "GPIO_HDR_LO[0]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[0]" LOC = W8;
NET "GPIO_HDR_HI[10]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[10]" LOC = W14;
NET "GPIO_HDR_HI[11]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[11]" LOC = Y14;
NET "GPIO_HDR_HI[12]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[12]" LOC = V17;
NET "GPIO_HDR_HI[13]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[13]" LOC = W17;
NET "GPIO_HDR_HI[14]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[14]" LOC = W18;
NET "GPIO_HDR_HI[15]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[15]" LOC = Y18;
NET "GPIO_HDR_LO[1]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[1]" LOC = V7;
NET "GPIO_HDR_LO[2]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[2]" LOC = U9;
NET "GPIO_HDR_LO[3]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[3]" LOC = V9;
NET "GPIO_HDR_LO[4]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[4]" LOC = W9;
NET "GPIO_HDR_LO[5]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[5]" LOC = Y8;
NET "GPIO_HDR_LO[6]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[6]" LOC = W10;
NET "GPIO_HDR_LO[7]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_LO[7]" LOC = Y10;
NET "GPIO_HDR_HI[8]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[8]" LOC = V13;
NET "GPIO_HDR_HI[9]" IOSTANDARD = LVCMOS33;
NET "GPIO_HDR_HI[9]" LOC = W13;
NET "GPIO_LED[0]" IOSTANDARD = LVCMOS33;
NET "GPIO_LED[0]" LOC = AB17;
NET "GPIO_LED[1]" IOSTANDARD = LVCMOS33;
NET "GPIO_LED[1]" LOC = AA16;
NET "GPIO_LED[2]" IOSTANDARD = LVCMOS33;
NET "GPIO_LED[2]" LOC = AB16;
NET "GPIO_LED[3]" IOSTANDARD = LVCMOS33;
NET "GPIO_LED[3]" LOC = AB15;
NET "GPIO_SW[0]" IOSTANDARD = LVCMOS33;
NET "GPIO_SW[0]" LOC = AB19;
NET "GPIO_SW[1]" IOSTANDARD = LVCMOS33;
NET "GPIO_SW[1]" LOC = AA18;
NET "GPIO_SW[2]" IOSTANDARD = LVCMOS33;
NET "GPIO_SW[2]" LOC = AB18;
NET "GPIO_SW[3]" IOSTANDARD = LVCMOS33;
NET "GPIO_SW[3]" LOC = Y17;
NET "IIC_SCL" IOSTANDARD = LVCMOS33;
NET "IIC_SCL" LOC = T18;
NET "IIC_SCL" PULLUP;
NET "IIC_SDA" IOSTANDARD = LVCMOS33;
NET "IIC_SDA" LOC = T17;
NET "IIC_SDA" PULLUP;
NET "MPS_PFO_B" IOSTANDARD = LVCMOS33;
NET "MPS_PFO_B" LOC = V11;
NET "MPS_RESET_B" IOSTANDARD = LVCMOS33;
NET "MPS_RESET_B" LOC = AA21;
NET "MPS_WDI" IOSTANDARD = LVCMOS33;
NET "MPS_WDI" LOC = W11;
NET "PHY_COL" IOSTANDARD = LVCMOS33;
NET "PHY_COL" LOC = V1;
NET "PHY_CRS" IOSTANDARD = LVCMOS33;
NET "PHY_CRS" LOC = W1;
NET "PHY_INT" IOSTANDARD = LVCMOS33;
NET "PHY_INT" LOC = R3;
NET "PHY_MDC" IOSTANDARD = LVCMOS33;
NET "PHY_MDC" LOC = Y1;
NET "PHY_MDIO" IOSTANDARD = LVCMOS33;
NET "PHY_MDIO" LOC = Y2;
NET "PHY_RESET" IOSTANDARD = LVCMOS33;
NET "PHY_RESET" LOC = W3;
NET "PHY_RXCTL_RXDV" IOSTANDARD = LVCMOS33;
NET "PHY_RXCTL_RXDV" LOC = V3;
NET "PHY_RXC_RXCLK" IOSTANDARD = LVCMOS33;
NET "PHY_RXC_RXCLK" LOC = Y12;
NET "PHY_RXD0" IOSTANDARD = LVCMOS33;
NET "PHY_RXD0" LOC = U4;
NET "PHY_RXD1" IOSTANDARD = LVCMOS33;
NET "PHY_RXD1" LOC = U3;
NET "PHY_RXD2" IOSTANDARD = LVCMOS33;
NET "PHY_RXD2" LOC = T4;
NET "PHY_RXD3" IOSTANDARD = LVCMOS33;
NET "PHY_RXD3" LOC = T3;
NET "PHY_RXER" IOSTANDARD = LVCMOS33;
NET "PHY_RXER" LOC = V2;
NET "PHY_TXCLK" IOSTANDARD = LVCMOS33;
NET "PHY_TXCLK" LOC = W12;
NET "PHY_TXCTL_TXEN" IOSTANDARD = LVCMOS33;
NET "PHY_TXCTL_TXEN" LOC = R4;
NET "PHY_TXD0" IOSTANDARD = LVCMOS33;
NET "PHY_TXD0" LOC = U1;
NET "PHY_TXD1" IOSTANDARD = LVCMOS33;
NET "PHY_TXD1" LOC = T2;
NET "PHY_TXD2" IOSTANDARD = LVCMOS33;
NET "PHY_TXD2" LOC = T1;
NET "PHY_TXD3" IOSTANDARD = LVCMOS33;
NET "PHY_TXD3" LOC = R1;
NET "USB_1_CTS" IOSTANDARD = LVCMOS33;
NET "USB_1_CTS" LOC = Y15;
NET "USB_1_RTS" IOSTANDARD = LVCMOS33;
NET "USB_1_RTS" LOC = V15;
NET "USB_1_RX" IOSTANDARD = LVCMOS33;
NET "USB_1_RX" LOC = AA14;
NET "USB_1_TX" IOSTANDARD = LVCMOS33;
NET "USB_1_TX" LOC = AB14;
