NET "IIC_SCL" PULLUP; # DACS PTRH
NET "IIC_SDA" PULLUP; # DACS PTRH
NET "BIO[0]" PULLUP;  # DPV PTRH SDA
NET "BIO[1]" PULLUP;  # DPV PTRH SCK
NET "BIO[2]" PULLUP;  # LPV PTRH SDA
NET "BIO[3]" PULLUP;  # LPV PTRH SCK
NET "BIO[8]" PULLUP;  # VM0 SCL
NET "BIO[9]" PULLUP;  # VM0 SDA
NET "BIO[12]" PULLUP; # VM1 SCL
NET "BIO[13]" PULLUP; # VM1 SDA
