NET "IIC_SCL" PULLUP;
NET "IIC_SDA" PULLUP;
NET "DIO[0]" PULLUP;
NET "DIO[3]" PULLUP;
NET "BIO[0]" PULLUP;
NET "BIO[1]" PULLUP;
NET "BIO[2]" PULLUP;
NET "BIO[3]" PULLUP;
NET "BIO[4]" PULLUP;
NET "BIO[5]" PULLUP;
NET "BIO[6]" PULLUP;
NET "BIO[7]" PULLUP;
NET "BIO[8]" PULLUP;
NET "BIO[9]" PULLUP;
NET "BIO[10]" PULLUP;
NET "BIO[11]" PULLUP;
NET "BIO[12]" PULLUP;
NET "BIO[13]" PULLUP;
NET "BIO[14]" PULLUP;
NET "BIO[15]" PULLUP;
