NET "IIC_SCL" PULLUP;
NET "IIC_SDA" PULLUP;
NET "BIO[0]" PULLUP;
NET "BIO[1]" PULLUP;
NET "BIO[2]" PULLUP;
NET "BIO[3]" PULLUP;
NET "BIO[4]" PULLUP;
NET "BIO[5]" PULLUP;
NET "BIO[8]" PULLUP;
NET "BIO[9]" PULLUP;
NET "BIO[12]" PULLUP;
NET "BIO[13]" PULLUP;
