##	SSP_Proto Board FPGA Pin constraints

# A/D LVDS Clk/Data lines 

Net SSP_AD0_CLKO_N_pin LOC=AD11 | IOSTANDARD = LVDS_25;
Net SSP_AD0_CLKO_P_pin LOC=AD12 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<0> LOC=H1 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<10> LOC=D5 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<11> LOC=C6 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<12> LOC=A5 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<13> LOC=C7 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<14> LOC=A7 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<15> LOC=B9 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<1> LOC=G1 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<2> LOC=F1 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<3> LOC=E2 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<4> LOC=D1 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<5> LOC=C1 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<6> LOC=E4 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<7> LOC=D4 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<8> LOC=B3 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_N_pin<9> LOC=B4 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<0> LOC=H2 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<10> LOC=C5 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<11> LOC=B6 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<12> LOC=A6 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<13> LOC=B7 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<14> LOC=A8 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<15> LOC=A9 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<1> LOC=G2 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<2> LOC=E1 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<3> LOC=E3 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<4> LOC=D2 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<5> LOC=C2 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<6> LOC=D3 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<7> LOC=C4 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<8> LOC=A3 | IOSTANDARD = LVDS_25;
Net SSP_AD0_Data_P_pin<9> LOC=A4 | IOSTANDARD = LVDS_25;
Net SSP_AD0_OR_N_pin LOC=C8 | IOSTANDARD = LVDS_25;
Net SSP_AD0_OR_P_pin LOC=D9 | IOSTANDARD = LVDS_25;

Net SSP_AD1_CLKO_N_pin LOC=AB10 | IOSTANDARD = LVDS_25;
Net SSP_AD1_CLKO_P_pin LOC=AC10 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<0> LOC=AB4 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<10> LOC=V5 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<11> LOC=W5 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<12> LOC=V7 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<13> LOC=Y7 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<14> LOC=Y8 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<15> LOC=AB6 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<1> LOC=AC1 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<2> LOC=AB2 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<3> LOC=AA1 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<4> LOC=AA3 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<5> LOC=Y1 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<6> LOC=W1 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<7> LOC=Y3 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<8> LOC=W3 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_N_pin<9> LOC=Y5 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<0> LOC=AC4 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<10> LOC=V6 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<11> LOC=W6 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<12> LOC=W7 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<13> LOC=AA7 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<14> LOC=AA8 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<15> LOC=AC6 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<1> LOC=AC2 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<2> LOC=AB3 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<3> LOC=AB1 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<4> LOC=AA4 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<5> LOC=Y2 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<6> LOC=W2 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<7> LOC=Y4 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<8> LOC=W4 | IOSTANDARD = LVDS_25;
Net SSP_AD1_Data_P_pin<9> LOC=Y6 | IOSTANDARD = LVDS_25;
Net SSP_AD1_OR_N_pin LOC=AD10 | IOSTANDARD = LVDS_25;
Net SSP_AD1_OR_P_pin LOC=AE10 | IOSTANDARD = LVDS_25;

Net SSP_AD2_CLKO_N_pin LOC=AF10 | IOSTANDARD = LVDS_25;
Net SSP_AD2_CLKO_P_pin LOC=AF11 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<0> LOC=AA10 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<10> LOC=AB5 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<11> LOC=AE4 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<12> LOC=AD4 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<13> LOC=AE3 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<14> LOC=AC3 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<15> LOC=AD1 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<1> LOC=Y9 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<2> LOC=AB9 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<3> LOC=AB7 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<4> LOC=AC8 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<5> LOC=AE9 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<6> LOC=AD7 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<7> LOC=AF7 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<8> LOC=AD6 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_N_pin<9> LOC=AF5 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<0> LOC=Y10 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<10> LOC=AC5 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<11> LOC=AF4 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<12> LOC=AD5 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<13> LOC=AF3 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<14> LOC=AD3 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<15> LOC=AD2 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<1> LOC=AA9 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<2> LOC=AC9 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<3> LOC=AC7 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<4> LOC=AD8 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<5> LOC=AF9 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<6> LOC=AE7 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<7> LOC=AF8 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<8> LOC=AE6 | IOSTANDARD = LVDS_25;
Net SSP_AD2_Data_P_pin<9> LOC=AF6 | IOSTANDARD = LVDS_25;
Net SSP_AD2_OR_N_pin LOC=AE12 | IOSTANDARD = LVDS_25;
Net SSP_AD2_OR_P_pin LOC=AF12 | IOSTANDARD = LVDS_25;

# Ethernet PHY

Net fpga_0_Ethernet_MAC_PHY_rst_n_pin LOC=A23 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rst_n_pin TIG | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_crs_pin LOC=C24 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_col_pin LOC=C26 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<3> LOC=H25 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<2> LOC=G26 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<1> LOC=G25 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_tx_data_pin<0> LOC=F26 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_tx_en_pin LOC=E24 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_tx_clk_pin LOC=C13 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rx_er_pin LOC=C25 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rx_clk_pin LOC=B17 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_dv_pin LOC=B24 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<0> LOC=D25 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<1> LOC=D26 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<2> LOC=E25 | IOSTANDARD = LVCMOS33;
Net fpga_0_Ethernet_MAC_PHY_rx_data_pin<3> LOC=E26 | IOSTANDARD = LVCMOS33;
#Net fpga_0_Ethernet_MAC_PHY_Mii_clk_pin LOC=B23 | IOSTANDARD = LVCMOS33;
#Net fpga_0_Ethernet_MAC_PHY_Mii_data_pin LOC=A24 | IOSTANDARD = LVCMOS33;
# Net fpga_0_Ethernet_MAC_PHY_tx_er_pin LOC= | IOSTANDARD = LVCMOS33;

# SRAM Pins

Net fpga_0_SRAM_Mem_ADV_LDN_pin LOC=AF19 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_BEN_pin<0> LOC=AD19 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_BEN_pin<1> LOC=AD20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_BEN_pin<2> LOC=AC19 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_BEN_pin<3> LOC=AC20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_CEN_pin<0> LOC=AB20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
# Net fpga_0_SRAM_DQP_pin<0> LOC=H22 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
# Net fpga_0_SRAM_DQP_pin<1> LOC=H21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
# Net fpga_0_SRAM_DQP_pin<2> LOC=H20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
# Net fpga_0_SRAM_DQP_pin<3> LOC=G20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_A_pin<29> LOC=AF24 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<28> LOC=AE24 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<27> LOC=AC24 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<26> LOC=AD25 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<25> LOC=AC25 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<24> LOC=AD26 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<23> LOC=AB23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<22> LOC=AA23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<21> LOC=AF22 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<20> LOC=AD22 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<19> LOC=AC22 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<18> LOC=AB22 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<17> LOC=AF21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<16> LOC=AD21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<15> LOC=AC21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<14> LOC=AF20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<13> LOC=AB18 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<12> LOC=AC18 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<11> LOC=AB21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<10> LOC=AC23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<9> LOC=AE23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<8> LOC=AF23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_A_pin<7> LOC=AD23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_DQ_pin<0> LOC=AD13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<10> LOC=AA15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<11> LOC=AA16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<12> LOC=AC11 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<13> LOC=AC12 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<14> LOC=AB14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<15> LOC=AA14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<16> LOC=D12 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<17> LOC=E13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<18> LOC=C16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<19> LOC=D16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<1> LOC=AC13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<20> LOC=D11 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<21> LOC=C11 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<22> LOC=E14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<23> LOC=D15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<24> LOC=D13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<25> LOC=D14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<26> LOC=F15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<27> LOC=F16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<28> LOC=F11 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<29> LOC=F12 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<2> LOC=AC15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<30> LOC=F13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<31> LOC=F14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<3> LOC=AC16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<4> LOC=AA11 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<5> LOC=AA12 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<6> LOC=AD14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<7> LOC=AC14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<8> LOC=AA13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_DQ_pin<9> LOC=AB13 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
Net fpga_0_SRAM_Mem_OEN_pin LOC=AE20 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net fpga_0_SRAM_Mem_WEN_pin LOC=AF18 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
#Net fpga_0_SRAM_MODE_pin LOC=AC26 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
#Net fpga_0_SRAM_ZZ_pin LOC=AE21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;

# SystemACE Connections: DISABLED

# Net SYSACE_A1_USB_A_pin<0> LOC=Y26 | IOSTANDARD = LVCMOS33;
# Net SYSACE_A2_USB_A_pin<1> LOC=W26 | IOSTANDARD = LVCMOS33;
# Net SYSACE_CLK_pin LOC=C15 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPA_pin<00> LOC=AA26 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPA_pin<03> LOC=W25 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPA_pin<04> LOC=AA20 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPA_pin<05> LOC=Y18 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPA_pin<06> LOC=AA19 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPBRDY_pin LOC=AA17 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPCE_pin LOC=Y17 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPIRQ_pin LOC=AA18 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPOE_USB_RD_N_pin LOC=AB25 | IOSTANDARD = LVCMOS33;
# Net SYSACE_MPWE_USB_WR_N_pin LOC=AB26 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<0> LOC=Y25 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<10> LOC=W21 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<11> LOC=W20 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<12> LOC=Y21 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<13> LOC=W19 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<14> LOC=Y20 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<15> LOC=Y19 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<1> LOC=W24 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<2> LOC=Y24 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<3> LOC=W23 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<4> LOC=Y23 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<5> LOC=V22 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<6> LOC=W22 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<7> LOC=V21 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<8> LOC=Y22 | IOSTANDARD = LVCMOS33;
# Net SYSACE_USB_D_pin<9> LOC=V20 | IOSTANDARD = LVCMOS33;

# UARTs

Net fpga_0_RS232_Uart_RX_pin LOC=A22 | IOSTANDARD = LVCMOS33;
Net fpga_0_RS232_Uart_TX_pin LOC=A21 | IOSTANDARD = LVCMOS33;
# Net F_SP_SERIAL_RX_pin LOC=C22 | IOSTANDARD = LVCMOS33;
# Net F_SP_SERIAL_TX_pin LOC=D22 | IOSTANDARD = LVCMOS33;

# AD9510, Clock and Reset inputs

Net sys_clk_pin LOC=A16 | IOSTANDARD = LVCMOS33;
Net sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 10000 ps;
Net sys_rst_pin LOC=F23 | IOSTANDARD = LVCMOS33;
Net sys_rst_pin PULLUP;
Net sys_rst_pin TIG;
# USERCLK can be LVDS_25 or LVCMOS33 (P only)
# Net USERCLK_N_pin LOC=B12 | IOSTANDARD = LVDS_25;
# Net USERCLK_P_pin LOC=B13 | IOSTANDARD = LVDS_25;
#Net CD_STATUS_pin LOC=G17 | IOSTANDARD = LVCMOS33;
#Net F_FUNCTION_pin LOC=G18 | IOSTANDARD = LVCMOS33;
# SSP_Ext_Trig: Single Ended
Net SSP_Ext_Trig_pin LOC=A10 | IOSTANDARD = LVCMOS33;
Net SSP_Ext_Trig_pin PULLUP;
Net SSP_Ext_Trig_pin TIG;
# Net FPGA_TRIGINN_pin LOC=B10 | IOSTANDARD = LVCMOS33;

# SPI Bus

Net xps_spi_0_SCK_pin LOC=A20 | IOSTANDARD = LVCMOS33;
Net xps_spi_0_MOSI_pin LOC=A19 | IOSTANDARD = LVCMOS33;
Net xps_spi_0_MISO_pin LOC=A18 | IOSTANDARD = LVCMOS33;
Net xps_spi_0_SS_pin<0> LOC=B18 | IOSTANDARD = LVCMOS33;
Net xps_spi_0_SS_pin<1> LOC=B20 | IOSTANDARD = LVCMOS33;
Net xps_spi_0_SS_pin<2> LOC=C20 | IOSTANDARD = LVCMOS33;

# Spare IO Connector, LED's and jumper pins

# Net FPGA_SPIO_pin<0> LOC=C10 | IOSTANDARD = LVCMOS25;
# Net FPGA_SPIO_pin<1> LOC=D10 | IOSTANDARD = LVCMOS25;
# Net FPGA_SPIO_pin<2> LOC=E10 | IOSTANDARD = LVCMOS25;
# Net FPGA_SPIO_pin<3> LOC=F10 | IOSTANDARD = LVCMOS25;
# Net FPGA_SPIO_pin<4> LOC=G10 | IOSTANDARD = LVCMOS25;
# Net FPGA_SPIO_pin<5> LOC=G9 | IOSTANDARD = LVCMOS25;
# Net FPGA_SPIO_pin<6> LOC=B14 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<7> LOC=B15 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<8> LOC=F17 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<9> LOC=F18 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<10> LOC=E17 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<11> LOC=E18 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<12> LOC=D17 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<13> LOC=D18 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<14> LOC=C17 | IOSTANDARD = LVCMOS33;
# Net FPGA_SPIO_pin<15> LOC=C19 | IOSTANDARD = LVCMOS33;
# Net BUS_ERROR1_pin LOC=H4 | IOSTANDARD = LVCMOS25;
# Net GPIO_LED_pin<0> LOC=H8 | IOSTANDARD = LVCMOS25;
# Net GPIO_LED_pin<1> LOC=H7 | IOSTANDARD = LVCMOS25;
# Net GPIO_LED_pin<2> LOC=H6 | IOSTANDARD = LVCMOS25;
# Net GPIO_LED_pin<3> LOC=H5 | IOSTANDARD = LVCMOS25;
# Net FPGA_JP_pin<0> LOC=G24 | IOSTANDARD = LVCMOS33;
# Net FPGA_JP_pin<1> LOC=H24 | IOSTANDARD = LVCMOS33;
# Net FPGA_JP_pin<2> LOC=G23 | IOSTANDARD = LVCMOS33;
# Net FPGA_JP_pin<3> LOC=H23 | IOSTANDARD = LVCMOS33;

# Misc: IIC EEPROM, uProc Supervisor, A/D Temperature Monitor

# Net IIC_SCL_pin LOC=AE13 | IOSTANDARD = LVCMOS25;
# Net IIC_SDA_pin LOC=AE14 | IOSTANDARD = LVCMOS25;
# Net MPS_WDI_pin LOC=C23 | IOSTANDARD = LVCMOS33;
# Net MPS_PFO_n_pin LOC=D19 | IOSTANDARD = LVCMOS33;
# Net MPS_RESET_n_pin LOC=D20 | IOSTANDARD = LVCMOS33;
# Net ADTM_ALERT_n_pin LOC=B21 | IOSTANDARD = LVCMOS33;
# Net ADTM_OVERT_n_pin LOC=C21 | IOSTANDARD = LVCMOS33;

# Spare/Unused Pins with EPads

# Net F_SP_A15 LOC=A15 | IOSTANDARD = LVCMOS33;
# Net F_SP_G19 LOC=G19 | IOSTANDARD = LVCMOS33;
# Net F_SP_H3 LOC=H3 | IOSTANDARD = LVCMOS25;
