Net ana_in_Conv<0> IOSTANDARD = LVCMOS33 | LOC = M4 | SLEW = FAST; # AI_AD_CNV[0]
Net ana_in_Conv<1> IOSTANDARD = LVCMOS33 | LOC = M1 | SLEW = FAST; # AI_AD_CNV[1]
Net ana_in_SDI<0> IOSTANDARD = LVCMOS33 | LOC = N4; # AI_AD_MISO[0]
Net ana_in_SDI<1> IOSTANDARD = LVCMOS33 | LOC = N1; # AI_AD_MISO[1]
Net ana_in_SCK16<0> IOSTANDARD = LVCMOS33 | LOC = M5 | SLEW = FAST; # AI_AD_SCK[0]
Net ana_in_SCK16<1> IOSTANDARD = LVCMOS33 | LOC = M2 | SLEW = FAST; # AI_AD_SCK[1]
Net ana_in_CS5<0> IOSTANDARD = LVCMOS33 | LOC = P3; # AI_AFE_CS_B[0]
Net ana_in_CS5<1> IOSTANDARD = LVCMOS33 | LOC = P1; # AI_AFE_CS_B[1]
Net ana_in_SDO<0> IOSTANDARD = LVCMOS33 | LOC = P5; # AI_AFE_MOSI[0]
Net ana_in_SDO<1> IOSTANDARD = LVCMOS33 | LOC = N3; # AI_AFE_MOSI[1]
Net ana_in_SCK5<0> IOSTANDARD = LVCMOS33 | LOC = P4 | SLEW = FAST; # AI_AFE_SCK[0]
Net ana_in_SCK5<1> IOSTANDARD = LVCMOS33 | LOC = P2 | SLEW = FAST; # AI_AFE_SCK[1]
Net ana_in_Mux0_A<0> IOSTANDARD = LVCMOS33 | LOC = L3; # AI_MUX0_A[0]
Net ana_in_Mux0_A<1> IOSTANDARD = LVCMOS33 | LOC = K6; # AI_MUX0_A[1]
Net ana_in_Mux0_A<2> IOSTANDARD = LVCMOS33 | LOC = J6; # AI_MUX0_A[2]
Net ana_in_Mux1_A<0> IOSTANDARD = LVCMOS33 | LOC = L1; # AI_MUX1_A[0]
Net ana_in_Mux1_A<1> IOSTANDARD = LVCMOS33 | LOC = K1; # AI_MUX1_A[1]
Net ana_in_Mux1_A<2> IOSTANDARD = LVCMOS33 | LOC = K2; # AI_MUX1_A[2]
#Net BIO[0] IOSTANDARD = LVCMOS33 | LOC = A20; #
#Net BIO[10] IOSTANDARD = LVCMOS33 | LOC = T16; #
#Net BIO[11] IOSTANDARD = LVCMOS33 | LOC = T15; #
#Net BIO[12] IOSTANDARD = LVCMOS33 | LOC = U17; #
#Net BIO[13] IOSTANDARD = LVCMOS33 | LOC = U16; #
#Net BIO[14] IOSTANDARD = LVCMOS33 | LOC = V19; #
#Net BIO[15] IOSTANDARD = LVCMOS33 | LOC = V18; #
#Net BIO[1] IOSTANDARD = LVCMOS33 | LOC = A21; #
#Net BIO[2] IOSTANDARD = LVCMOS33 | LOC = B20; #
#Net BIO[3] IOSTANDARD = LVCMOS33 | LOC = B21; #
#Net BIO[4] IOSTANDARD = LVCMOS33 | LOC = B22; #
#Net BIO[5] IOSTANDARD = LVCMOS33 | LOC = C19; #
#Net BIO[6] IOSTANDARD = LVCMOS33 | LOC = C20; #
#Net BIO[7] IOSTANDARD = LVCMOS33 | LOC = C22; #
#Net BIO[8] IOSTANDARD = LVCMOS33 | LOC = R16; #
#Net BIO[9] IOSTANDARD = LVCMOS33 | LOC = R15; #
#Net COUNT[0] IOSTANDARD = LVCMOS33 | LOC = J1; #
#Net COUNT[1] IOSTANDARD = LVCMOS33 | LOC = J3; #
#Net COUNT[2] IOSTANDARD = LVCMOS33 | LOC = J4; #
#Net COUNT[3] IOSTANDARD = LVCMOS33 | LOC = K3; #
#Net COUNT[4] IOSTANDARD = LVCMOS33 | LOC = K4; #
#Net COUNT[5] IOSTANDARD = LVCMOS33 | LOC = K5; #
#Net COUNT[6] IOSTANDARD = LVCMOS33 | LOC = L4; #
#Net COUNT[7] IOSTANDARD = LVCMOS33 | LOC = M3; #
#Net COUNT_LE[0] IOSTANDARD = LVCMOS33 | LOC = H3; #
#Net COUNT_LE[1] IOSTANDARD = LVCMOS33 | LOC = H4; #
#Net COUNT_LE[2] IOSTANDARD = LVCMOS33 | LOC = H5; #
#Net COUNT_LE[3] IOSTANDARD = LVCMOS33 | LOC = H6; #
#Net COUNT_LE[4] IOSTANDARD = LVCMOS33 | LOC = H8; #
#Net COUNT_LE[5] IOSTANDARD = LVCMOS33 | LOC = J7; #
#Net COUNT_LE[6] IOSTANDARD = LVCMOS33 | LOC = K8; #
#Net COUNT_LE[7] IOSTANDARD = LVCMOS33 | LOC = K7; #
#Net COUNT_SDN IOSTANDARD = LVCMOS33 | LOC = V5; #
#Net DA_CLR_B IOSTANDARD = LVCMOS33 | LOC = F2; #
#Net DA_CS_B[0] IOSTANDARD = LVCMOS33 | LOC = G1; #
#Net DA_CS_B[1] IOSTANDARD = LVCMOS33 | LOC = G3; #
#Net DA_LDAC_B IOSTANDARD = LVCMOS33 | LOC = H2 | SLEW = FAST; #
#Net DA_SCK IOSTANDARD = LVCMOS33 | LOC = F1 | SLEW = FAST; #
#Net DA_SDI IOSTANDARD = LVCMOS33 | LOC = H1; #
Net dig_IO<0> IOSTANDARD = LVCMOS33 | LOC = D5; # DIO[0] DigIO Programmable
Net dig_IO<1> IOSTANDARD = LVCMOS33 | LOC = C1; # DIO[1] DigIO Programmable
Net dig_IO<2> IOSTANDARD = LVCMOS33 | LOC = C3; # DIO[2] DigIO Programmable
Net dig_IO<3> IOSTANDARD = LVCMOS33 | LOC = C4; # DIO[3] DigIO Programmable
Net dig_IO<4> IOSTANDARD = LVCMOS33 | LOC = B1; # DIO[4] DigIO Programmable
Net dig_IO<5> IOSTANDARD = LVCMOS33 | LOC = B2; # DIO[5] DigIO Programmable
Net dig_IO<6> IOSTANDARD = LVCMOS33 | LOC = B3; # DIO[6] DigIO Programmable
Net dig_IO<7> IOSTANDARD = LVCMOS33 | LOC = A2; # DIO[7] DigIO Programmable
Net dig_IO<8> IOSTANDARD = LVCMOS33 | LOC = A3; # DIO[8] DigIO Programmable
Net dig_IO<9> IOSTANDARD = LVCMOS33 | LOC = A4; # DIO[9] DigIO Programmable
Net dig_IO<10> IOSTANDARD = LVCMOS33 | LOC = A5; # DIO[10] DigIO Programmable
Net dig_IO<11> IOSTANDARD = LVCMOS33 | LOC = C5; # DIO[11] DigIO Programmable
Net dig_IO<12> IOSTANDARD = LVCMOS33 | LOC = A6; # DIO[12] DigIO Programmable
Net dig_IO<13> IOSTANDARD = LVCMOS33 | LOC = B6; # DIO[13] DigIO Programmable
Net dig_IO<14> IOSTANDARD = LVCMOS33 | LOC = C6; # DIO[14] DigIO Programmable
Net dig_IO<15> IOSTANDARD = LVCMOS33 | LOC = D6; # DIO[15] DigIO Programmable
Net dig_IO<16> IOSTANDARD = LVCMOS33 | LOC = A7; # DIO[16] DigIO Programmable
Net dig_IO<17> IOSTANDARD = LVCMOS33 | LOC = C7; # DIO[17] DigIO Programmable
Net dig_IO<18> IOSTANDARD = LVCMOS33 | LOC = D7; # DIO[18] DigIO Programmable
Net dig_IO<19> IOSTANDARD = LVCMOS33 | LOC = A8; # DIO[19] DigIO Programmable
Net dig_IO<20> IOSTANDARD = LVCMOS33 | LOC = B8; # DIO[20] DigIO Programmable
Net dig_IO<21> IOSTANDARD = LVCMOS33 | LOC = C8; # DIO[21] DigIO Programmable
Net dig_IO<22> IOSTANDARD = LVCMOS33 | LOC = D8; # DIO[22] DigIO Programmable
Net dig_IO<23> IOSTANDARD = LVCMOS33 | LOC = A9; # DIO[23] DigIO Programmable
Net idx_Dir<0> IOSTANDARD = LVCMOS33 | LOC = C9; # DIO[24] DigIO Programmable
Net idx_Run<0> IOSTANDARD = LVCMOS33 | LOC = D9; # DIO[25] DigIO Programmable
Net idx_Step<0> IOSTANDARD = LVCMOS33 | LOC = A10; # DIO[26] DigIO Programmable
Net idx_Dir<1> IOSTANDARD = LVCMOS33 | LOC = B10; # DIO[27] DigIO Programmable
Net idx_Run<1> IOSTANDARD = LVCMOS33 | LOC = C10; # DIO[28] DigIO Programmable
Net idx_Step<1> IOSTANDARD = LVCMOS33 | LOC = D10; # DIO[29] DigIO Programmable
Net idx_Dir<2> IOSTANDARD = LVCMOS33 | LOC = A11; # DIO[30] DigIO Programmable
Net idx_Run<2> IOSTANDARD = LVCMOS33 | LOC = C11; # DIO[31] DigIO Programmable
Net idx_Step<2> IOSTANDARD = LVCMOS33 | LOC = D11; # DIO[32] Indexer Output
#Net DIO[33] IOSTANDARD = LVCMOS33 | LOC = A12; # Indexer Output
#Net DIO[34] IOSTANDARD = LVCMOS33 | LOC = B12; # Indexer Output
#Net DIO[35] IOSTANDARD = LVCMOS33 | LOC = C12; # Indexer Output
#Net DIO[36] IOSTANDARD = LVCMOS33 | LOC = A13; # Indexer Output
#Net DIO[37] IOSTANDARD = LVCMOS33 | LOC = C13; # Indexer Output
#Net DIO[38] IOSTANDARD = LVCMOS33 | LOC = A14; # Indexer Output
#Net DIO[39] IOSTANDARD = LVCMOS33 | LOC = B14; # Indexer Output
Net idx_KillA<0> IOSTANDARD = LVCMOS33 | LOC = C14; # DIO[40] Indexer Input
Net idx_KillB<0> IOSTANDARD = LVCMOS33 | LOC = D14; # DIO[41] Indexer Input
Net idx_LimI<0> IOSTANDARD = LVCMOS33 | LOC = A15; # DIO[42] Indexer Input
Net idx_LimO<0> IOSTANDARD = LVCMOS33 | LOC = C15; # DIO[43] Indexer Input
Net idx_ZR<0> IOSTANDARD = LVCMOS33 | LOC = D15; # DIO[44] Indexer Input
Net idx_KillA<1> IOSTANDARD = LVCMOS33 | LOC = A16; # DIO[45] Indexer Input
Net idx_KillB<1> IOSTANDARD = LVCMOS33 | LOC = B16; # DIO[46] Indexer Input
Net idx_LimI<1> IOSTANDARD = LVCMOS33 | LOC = C16; # DIO[47] Indexer Input
Net idx_LimO<1> IOSTANDARD = LVCMOS33 | LOC = E16; # DIO[48] Indexer Input
Net idx_ZR<1> IOSTANDARD = LVCMOS33 | LOC = A17; # DIO[49] Indexer Input
Net idx_KillA<2> IOSTANDARD = LVCMOS33 | LOC = C17; # DIO[50] Indexer Input
Net idx_KillB<2> IOSTANDARD = LVCMOS33 | LOC = D17; # DIO[51] Indexer Input
Net idx_LimI<2> IOSTANDARD = LVCMOS33 | LOC = A18; # DIO[52] Indexer Input
Net idx_LimO<2> IOSTANDARD = LVCMOS33 | LOC = B18; # DIO[53] Indexer Input
Net idx_ZR<2> IOSTANDARD = LVCMOS33 | LOC = D19; # DIO[54] Indexer Input
#Net DIO[55] IOSTANDARD = LVCMOS33 | LOC = D20; # Spare Input
Net dig_IO<32> IOSTANDARD = LVCMOS33 | LOC = D21; # DIO[56] DigIO Programmable
Net dig_IO<33> IOSTANDARD = LVCMOS33 | LOC = D22; # DIO[57] DigIO Programmable
Net dig_IO<34> IOSTANDARD = LVCMOS33 | LOC = E22; # DIO[58] DigIO Programmable
Net dig_IO<35> IOSTANDARD = LVCMOS33 | LOC = E20; # DIO[59] DigIO Programmable
Net dig_IO<36> IOSTANDARD = LVCMOS33 | LOC = F22; # DIO[60] DigIO Programmable
Net dig_IO<37> IOSTANDARD = LVCMOS33 | LOC = F21; # DIO[61] DigIO Programmable
Net dig_IO<38> IOSTANDARD = LVCMOS33 | LOC = F20; # DIO[62] DigIO Programmable
Net dig_IO<39> IOSTANDARD = LVCMOS33 | LOC = F19; # DIO[63] DigIO Programmable
Net dig_IO<40> IOSTANDARD = LVCMOS33 | LOC = F18; # DIO[64] DigIO Programmable
Net dig_IO<41> IOSTANDARD = LVCMOS33 | LOC = F17; # DIO[65] DigIO Programmable
Net dig_IO<42> IOSTANDARD = LVCMOS33 | LOC = F16; # DIO[66] DigIO Programmable
Net dig_IO<43> IOSTANDARD = LVCMOS33 | LOC = G22; # DIO[67] DigIO Programmable
Net dig_IO<44> IOSTANDARD = LVCMOS33 | LOC = G20; # DIO[68] DigIO Programmable
Net dig_IO<45> IOSTANDARD = LVCMOS33 | LOC = G19; # DIO[69] DigIO Programmable
Net dig_IO<46> IOSTANDARD = LVCMOS33 | LOC = G17; # DIO[70] DigIO Programmable
Net dig_IO<47> IOSTANDARD = LVCMOS33 | LOC = G16; # DIO[71] DigIO Programmable
Net dig_IO<48> IOSTANDARD = LVCMOS33 | LOC = H22; # DIO[72] DigIO Programmable
Net dig_IO<49> IOSTANDARD = LVCMOS33 | LOC = H21; # DIO[73] DigIO Programmable
Net dig_IO<50> IOSTANDARD = LVCMOS33 | LOC = H20; # DIO[74] DigIO Programmable
Net dig_IO<51> IOSTANDARD = LVCMOS33 | LOC = H19; # DIO[75] DigIO Programmable
Net dig_IO<52> IOSTANDARD = LVCMOS33 | LOC = H18; # DIO[76] DigIO Programmable
Net dig_IO<53> IOSTANDARD = LVCMOS33 | LOC = H17; # DIO[77] DigIO Programmable
Net dig_IO<54> IOSTANDARD = LVCMOS33 | LOC = H16; # DIO[78] DigIO Programmable
Net dig_IO<55> IOSTANDARD = LVCMOS33 | LOC = J22; # DIO[79] DigIO Programmable
Net dig_IO<56> IOSTANDARD = LVCMOS33 | LOC = J20; # DIO[80] DigIO Programmable
Net dig_IO<57> IOSTANDARD = LVCMOS33 | LOC = J19; # DIO[81] DigIO Programmable
Net dig_IO<58> IOSTANDARD = LVCMOS33 | LOC = J17; # DIO[82] DigIO Programmable
Net dig_IO<59> IOSTANDARD = LVCMOS33 | LOC = J16; # DIO[83] DigIO Programmable
Net dig_IO<60> IOSTANDARD = LVCMOS33 | LOC = K22; # DIO[84] DigIO Programmable
Net dig_IO<61> IOSTANDARD = LVCMOS33 | LOC = K21; # DIO[85] DigIO Programmable
Net dig_IO<62> IOSTANDARD = LVCMOS33 | LOC = K20; # DIO[86] DigIO Programmable
Net dig_IO<63> IOSTANDARD = LVCMOS33 | LOC = K19; # DIO[87] DigIO Programmable
Net dig_IO<64> IOSTANDARD = LVCMOS33 | LOC = K18; # DIO[88] DigIO Programmable
Net dig_IO<65> IOSTANDARD = LVCMOS33 | LOC = K17; # DIO[89] DigIO Programmable
Net dig_IO<66> IOSTANDARD = LVCMOS33 | LOC = K16; # DIO[90] DigIO Programmable
Net dig_IO<67> IOSTANDARD = LVCMOS33 | LOC = L22; # DIO[91] DigIO Programmable
Net dig_IO<68> IOSTANDARD = LVCMOS33 | LOC = L20; # DIO[92] DigIO Programmable
Net dig_IO<69> IOSTANDARD = LVCMOS33 | LOC = L19; # DIO[93] DigIO Programmable
Net dig_IO<70> IOSTANDARD = LVCMOS33 | LOC = L17; # DIO[94] DigIO Programmable
Net dig_IO<71> IOSTANDARD = LVCMOS33 | LOC = L15; # DIO[95] DigIO Programmable
Net dig_IO<72> IOSTANDARD = LVCMOS33 | LOC = M22; # DIO[96] DigIO Programmable
Net dig_IO<73> IOSTANDARD = LVCMOS33 | LOC = M21; # DIO[97] DigIO Programmable
Net dig_IO<74> IOSTANDARD = LVCMOS33 | LOC = M20; # DIO[98] DigIO Programmable
Net dig_IO<75> IOSTANDARD = LVCMOS33 | LOC = M19; # DIO[99] DigIO Programmable
Net dig_IO<76> IOSTANDARD = LVCMOS33 | LOC = M18; # DIO[100] DigIO Programmable
Net dig_IO<77> IOSTANDARD = LVCMOS33 | LOC = M17; # DIO[101] DigIO Programmable
Net dig_IO<78> IOSTANDARD = LVCMOS33 | LOC = M16; # DIO[102] DigIO Programmable
Net dig_IO<79> IOSTANDARD = LVCMOS33 | LOC = N22; # DIO[103] DigIO Programmable
Net dig_IO<80> IOSTANDARD = LVCMOS33 | LOC = N20; # DIO[104] DigIO Programmable
Net dig_IO<81> IOSTANDARD = LVCMOS33 | LOC = N19; # DIO[105] DigIO Programmable
Net dig_IO<82> IOSTANDARD = LVCMOS33 | LOC = N16; # DIO[106] DigIO Programmable
Net dig_IO<83> IOSTANDARD = LVCMOS33 | LOC = P22; # DIO[107] DigIO Programmable
Net dig_IO<84> IOSTANDARD = LVCMOS33 | LOC = P21; # DIO[108] DigIO Programmable
Net dig_IO<85> IOSTANDARD = LVCMOS33 | LOC = P20; # DIO[109] DigIO Programmable
Net dig_IO<86> IOSTANDARD = LVCMOS33 | LOC = P19; # DIO[110] DigIO Programmable
Net dig_IO<87> IOSTANDARD = LVCMOS33 | LOC = P18; # DIO[111] DigIO Programmable
Net dig_IO<88> IOSTANDARD = LVCMOS33 | LOC = P17; # DIO[112] DigIO Programmable
Net dig_IO<89> IOSTANDARD = LVCMOS33 | LOC = R22; # DIO[113] DigIO Programmable
Net dig_IO<90> IOSTANDARD = LVCMOS33 | LOC = R20; # DIO[114] DigIO Programmable
Net dig_IO<91> IOSTANDARD = LVCMOS33 | LOC = R19; # DIO[115] DigIO Programmable
Net dig_IO<92> IOSTANDARD = LVCMOS33 | LOC = T22; # DIO[116] DigIO Programmable
Net dig_IO<93> IOSTANDARD = LVCMOS33 | LOC = T21; # DIO[117] DigIO Programmable
Net dig_IO<94> IOSTANDARD = LVCMOS33 | LOC = T20; # DIO[118] DigIO Programmable
Net dig_IO<95> IOSTANDARD = LVCMOS33 | LOC = U19; # DIO[119] DigIO Programmable
Net dig_Dir<0> IOSTANDARD = LVCMOS33 | LOC = D1; # DIO_DIR[0] DigIO
Net dig_Dir<1> IOSTANDARD = LVCMOS33 | LOC = D2; # DIO_DIR[1] DigIO
Net dig_Dir<2> IOSTANDARD = LVCMOS33 | LOC = D3; # DIO_DIR[2] DigIO
Net idx_BufDir<0> IOSTANDARD = LVCMOS33 | LOC = E1; # DIO_DIR[3] Hard coded for Indexer Output
Net idx_BufDir<1> IOSTANDARD = LVCMOS33 | LOC = E3; # DIO_DIR[4] Hard coded for Indexer Output
Net idx_BufDir<2> IOSTANDARD = LVCMOS33 | LOC = E4; # DIO_DIR[5] Hard coded for Indexer Input
Net idx_BufDir<3> IOSTANDARD = LVCMOS33 | LOC = E5; # DIO_DIR[6] Hard coded for Indexer Input
Net dig_Dir<4> IOSTANDARD = LVCMOS33 | LOC = E6; # DIO_DIR[7] DigIO
Net dig_Dir<5> IOSTANDARD = LVCMOS33 | LOC = U20; # DIO_DIR[8] DigIO
Net dig_Dir<6> IOSTANDARD = LVCMOS33 | LOC = U22; # DIO_DIR[9] DigIO
Net dig_Dir<7> IOSTANDARD = LVCMOS33 | LOC = V20; # DIO_DIR[10] DigIO
Net dig_Dir<8> IOSTANDARD = LVCMOS33 | LOC = V21; # DIO_DIR[11] DigIO
Net dig_Dir<9> IOSTANDARD = LVCMOS33 | LOC = V22; # DIO_DIR[12] DigIO
Net dig_Dir<10> IOSTANDARD = LVCMOS33 | LOC = W20; # DIO_DIR[13] DigIO
Net dig_Dir<11> IOSTANDARD = LVCMOS33 | LOC = W22; # DIO_DIR[14] DigIO
#Net DIO_OE IOSTANDARD = LVCMOS33 | LOC = G7; # Pulled appropriately
#Net DIO_OE_B IOSTANDARD = LVCMOS33 | LOC = F7; # Pulled appropriately
Net subbus_cmdenbl IOSTANDARD = LVCMOS33 | LOC = G4; # FPGA_CMDENBL
Net subbus_cmdenbl_b IOSTANDARD = LVCMOS33 | LOC = F3; # FPGA_CMDENBL_B
Net subbus_cmdstrb IOSTANDARD = LVCMOS33 | LOC = G6; # FPGA_CMDSTRB
Net subbus_cmdstrb_b IOSTANDARD = LVCMOS33 | LOC = F5; # FPGA_CMDSTRB_B
#Net FPGA_CMD_DIR IOSTANDARD = LVCMOS33 | LOC = U6; # Pulled appropriately
Net fpga_0_rst_1_sys_rst_pin IOSTANDARD = LVCMOS33 | LOC = Y19; # FPGA_CPU_RESET
#Net FPGA_CSO_B IOSTANDARD = LVCMOS33 | LOC = T5; #
#Net FPGA_D0_DIN_MISO_MISO1 IOSTANDARD = LVCMOS33 | LOC = AA20; #
#Net FPGA_D1_MISO2 IOSTANDARD = LVCMOS33 | LOC = U14; #
#Net FPGA_D2_MISO3 IOSTANDARD = LVCMOS33 | LOC = U13; #
#Net FPGA_MOSI_CSI_B_MISO0 IOSTANDARD = LVCMOS33 | LOC = AB20; #
#Net FPGA_MSD_CS_B IOSTANDARD = LVCMOS33 | LOC = AB21; #
Net fpga_0_clk_1_sys_clk_pin IOSTANDARD = LVCMOS33 | LOC = AA12; # FPGA_SYSCLK
#Net FPGA_UFM_CS_B IOSTANDARD = LVCMOS33 | LOC = T14; #
#Net FPGA_XCLK IOSTANDARD = LVCMOS33 | LOC = Y11; #
#Net FPGA_XTRIG IOSTANDARD = LVCMOS33 | LOC = Y13; #
Net xps_epc_0_PRH_Data_pin<0> IOSTANDARD = LVCMOS33 | LOC = AA10; # FTDI_D[0]
Net xps_epc_0_PRH_Data_pin<1> IOSTANDARD = LVCMOS33 | LOC = AB10; # FTDI_D[1]
Net xps_epc_0_PRH_Data_pin<2> IOSTANDARD = LVCMOS33 | LOC = Y9; # FTDI_D[2]
Net xps_epc_0_PRH_Data_pin<3> IOSTANDARD = LVCMOS33 | LOC = AB9; # FTDI_D[3]
Net xps_epc_0_PRH_Data_pin<4> IOSTANDARD = LVCMOS33 | LOC = AA8; # FTDI_D[4]
Net xps_epc_0_PRH_Data_pin<5> IOSTANDARD = LVCMOS33 | LOC = AB8; # FTDI_D[5]
Net xps_epc_0_PRH_Data_pin<6> IOSTANDARD = LVCMOS33 | LOC = Y7; # FTDI_D[6]
Net xps_epc_0_PRH_Data_pin<7> IOSTANDARD = LVCMOS33 | LOC = AB7; # FTDI_D[7]
#Net FTDI_PWREN_B IOSTANDARD = LVCMOS33 | LOC = AB3; #
Net xps_epc_0_PRH_Rd_n_pin IOSTANDARD = LVCMOS33 | LOC = AA4; # FTDI_RD
Net xps_epc_0_FTDI_RXF_pin IOSTANDARD = LVCMOS33 | LOC = AA6; # FTDI_RXF
Net FTDI_SI_pin IOSTANDARD = LVCMOS33 | LOC = Y4; # FTDI_SI
#Net FTDI_SIWU IOSTANDARD = LVCMOS33 | LOC = M8; #
#Net FTDI_SPR_AC1 IOSTANDARD = LVCMOS33 | LOC = P6; #
#Net FTDI_SPR_AC6 IOSTANDARD = LVCMOS33 | LOC = P7; #
#Net FTDI_SPR_AC7 IOSTANDARD = LVCMOS33 | LOC = P8; #
#Net FTDI_SPR_AD3 IOSTANDARD = LVCMOS33 | LOC = AB2; #
#Net FTDI_SPR_AD5 IOSTANDARD = LVCMOS33 | LOC = AA2; #
#Net FTDI_SPR_AD6 IOSTANDARD = LVCMOS33 | LOC = Y3; #
#Net FTDI_SPR_AD7 IOSTANDARD = LVCMOS33 | LOC = W4; #
#Net FTDI_SPR_BC5 IOSTANDARD = LVCMOS33 | LOC = M6; #
#Net FTDI_SPR_BC6 IOSTANDARD = LVCMOS33 | LOC = N6; #
#Net FTDI_SPR_BC7 IOSTANDARD = LVCMOS33 | LOC = N7; #
#Net FTDI_SUSPEND_B IOSTANDARD = LVCMOS33 | LOC = M7; #
#Net FTDI_TXE IOSTANDARD = LVCMOS33 | LOC = AB6; #
#Net FTDI_UPLOAD IOSTANDARD = LVCMOS33 | LOC = L6; #
Net xps_epc_0_FTDI_WR_pin IOSTANDARD = LVCMOS33 | LOC = AB4; # FTDI_WR
Net subbus_fail_leds<0> IOSTANDARD = LVCMOS33 | LOC = T19; # GPIO_ERROR_LED
#Net GPIO_HDR[0] IOSTANDARD = LVCMOS33 | LOC = W8; #
#Net GPIO_HDR[10] IOSTANDARD = LVCMOS33 | LOC = W14; #
#Net GPIO_HDR[11] IOSTANDARD = LVCMOS33 | LOC = Y14; #
#Net GPIO_HDR[12] IOSTANDARD = LVCMOS33 | LOC = V17; #
#Net GPIO_HDR[13] IOSTANDARD = LVCMOS33 | LOC = W17; #
#Net GPIO_HDR[14] IOSTANDARD = LVCMOS33 | LOC = W18; #
#Net GPIO_HDR[15] IOSTANDARD = LVCMOS33 | LOC = Y18; #
#Net GPIO_HDR[1] IOSTANDARD = LVCMOS33 | LOC = V7; #
#Net GPIO_HDR[2] IOSTANDARD = LVCMOS33 | LOC = U9; #
#Net GPIO_HDR[3] IOSTANDARD = LVCMOS33 | LOC = V9; #
#Net GPIO_HDR[4] IOSTANDARD = LVCMOS33 | LOC = W9; #
#Net GPIO_HDR[5] IOSTANDARD = LVCMOS33 | LOC = Y8; #
#Net GPIO_HDR[6] IOSTANDARD = LVCMOS33 | LOC = W10; #
#Net GPIO_HDR[7] IOSTANDARD = LVCMOS33 | LOC = Y10; #
#Net GPIO_HDR[8] IOSTANDARD = LVCMOS33 | LOC = V13; #
#Net GPIO_HDR[9] IOSTANDARD = LVCMOS33 | LOC = W13; #
Net subbus_fail_leds<1> IOSTANDARD = LVCMOS33 | LOC = AB17; # GPIO_LED[0]
Net subbus_fail_leds<2> IOSTANDARD = LVCMOS33 | LOC = AA16; # GPIO_LED[1]
Net subbus_fail_leds<3> IOSTANDARD = LVCMOS33 | LOC = AB16; # GPIO_LED[2]
Net subbus_fail_leds<4> IOSTANDARD = LVCMOS33 | LOC = AB15; # GPIO_LED[3]
Net DACS_switches<0> IOSTANDARD = LVCMOS33 | LOC = AB19; # GPIO_SW[0]
Net DACS_switches<1> IOSTANDARD = LVCMOS33 | LOC = AA18; # GPIO_SW[1]
Net DACS_switches<2> IOSTANDARD = LVCMOS33 | LOC = AB18; # GPIO_SW[2]
Net DACS_switches<3> IOSTANDARD = LVCMOS33 | LOC = Y17; # GPIO_SW[3]
Net fpga_0_Generic_IIC_Bus_Scl_pin IOSTANDARD = LVCMOS33 | LOC = T18; # IIC_SCL
Net fpga_0_Generic_IIC_Bus_Sda_pin IOSTANDARD = LVCMOS33 | LOC = T17; # IIC_SDA
#Net MPS_PFO_B IOSTANDARD = LVCMOS33 | LOC = V11; #
#Net MPS_RESET_B IOSTANDARD = LVCMOS33 | LOC = AA21; #
#Net MPS_WDI IOSTANDARD = LVCMOS33 | LOC = W11; #
#Net PHY_COL IOSTANDARD = LVCMOS33 | LOC = V1; #
#Net PHY_CRS IOSTANDARD = LVCMOS33 | LOC = W1; #
#Net PHY_INT IOSTANDARD = LVCMOS33 | LOC = R3; #
#Net PHY_MDC IOSTANDARD = LVCMOS33 | LOC = Y1; #
#Net PHY_MDIO IOSTANDARD = LVCMOS33 | LOC = Y2; #
#Net PHY_RESET IOSTANDARD = LVCMOS33 | LOC = W3; #
#Net PHY_RXCTL_RXDV IOSTANDARD = LVCMOS33 | LOC = V3; #
#Net PHY_RXC_RXCLK IOSTANDARD = LVCMOS33 | LOC = Y12; #
#Net PHY_RXD0 IOSTANDARD = LVCMOS33 | LOC = U4; #
#Net PHY_RXD1 IOSTANDARD = LVCMOS33 | LOC = U3; #
#Net PHY_RXD2 IOSTANDARD = LVCMOS33 | LOC = T4; #
#Net PHY_RXD3 IOSTANDARD = LVCMOS33 | LOC = T3; #
#Net PHY_RXER IOSTANDARD = LVCMOS33 | LOC = V2; #
#Net PHY_TXCLK IOSTANDARD = LVCMOS33 | LOC = W12; #
#Net PHY_TXCTL_TXEN IOSTANDARD = LVCMOS33 | LOC = R4; #
#Net PHY_TXD0 IOSTANDARD = LVCMOS33 | LOC = U1; #
#Net PHY_TXD1 IOSTANDARD = LVCMOS33 | LOC = T2; #
#Net PHY_TXD2 IOSTANDARD = LVCMOS33 | LOC = T1; #
#Net PHY_TXD3 IOSTANDARD = LVCMOS33 | LOC = R1; #
#Net USB_1_CTS IOSTANDARD = LVCMOS33 | LOC = Y15; #
#Net USB_1_RTS IOSTANDARD = LVCMOS33 | LOC = V15; #
Net fpga_0_RS232_TX_pin IOSTANDARD = LVCMOS33 | LOC = AA14; # USB_1_RX
Net fpga_0_RS232_RX_pin IOSTANDARD = LVCMOS33 | LOC = AB14; # USB_1_TX
